.navLogo {
    height: 70px;
    width: 440px;
    align: 'left';
    alignItems: 'left'
  }

.title {

}

.text {
    display: 'flex';
    justifyContent: 'center';
    alignItems: 'center';
    height: '90vh' 
}